<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}zh-CN{{end}}">
{{ partial "head" . }}

<body>
    {{ partial "header" . }}
    <div id="body">
        <div class="container">
            <div class="col-group">

                <div class="col-8" id="main">
                    {{ block "content" . }}{{ end }}
                    {{ partial "footer" . }}
                </div>

                {{ partial "sidebar" . }}
            </div>
        </div>
    </div>
    <canvas height="707" width="1536" style="position: fixed;left: 0;top: 0;pointer-events: none;" id="canvas_sakura"></canvas>
    <script src="{{ "js/leaves.js" | relURL }}"></script>
</body>

</html>
