{{ with .Site.Params.ads }}
<section class="widget">
    <h3 class="widget-title" style="color:red"><a href='{{ "photo/" | relURL }}'>{{ i18n "ads" }}</a></h3>
    <ul class="widget-list" style="list-style:none;padding-left:0;">
        {{ range . }}
        <li>
            <a href="{{ .url }}" title="{{ .title }}" target="_blank" style="color:red">
                {{ if .img }}
                    <img src="{{ .img }}">
                {{ else }}
                    {{ .title }}
                {{ end }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
