<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Site.Params.busuanzi }}
    <meta name="referrer" content="no-referrer-when-downgrade">
    {{ end }}
    
    {{ if .IsHome -}}
    {{ if .Site.Params.subtitle -}}
    <title>{{ .Site.Title }} | {{ .Site.Params.subtitle}}</title>
    <meta property="og:title" content="{{ .Site.Title }} | {{ .Site.Params.subtitle}}">
    {{ else -}}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}">
    {{ end -}}
    <meta property="og:type" content="website">
    <meta name="Keywords" content="{{.Site.Params.keywords}}">
    <meta name="description" content="{{ .Site.Params.description }}">
    {{- else -}}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    <meta property="og:type" content="article">
        {{ with .Params.date }}
    <meta property="article:published_time" content='{{ .Format "2006-01-02T15:04:05+08:00" }}'>
        {{ end }}
        {{ with .Params.lastmod }}
    <meta property="article:modified_time" content='{{ .Format "2006-01-02T15:04:05+08:00" }}'>
        {{ end }}
    <meta name="Keywords" content="{{ if .Keywords }}{{ .Keywords }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Title }}{{ end }}">
        {{ if .Params.author -}}
    <meta name="author" content="{{ .Params.author }}">
        {{ else }}
    <meta name="author" content="{{ .Site.Author.name }}">
        {{- end }}
    {{- end }}
    <meta property="og:url" content="{{ .Permalink }}">
    <!-- <meta name="color-scheme" content="dark light"> -->
    <link rel="shortcut icon" href='{{ "favicon.ico" | relURL }}' type="image/x-icon">

    <link rel="stylesheet" media="(prefers-color-scheme: light)" crossorigin="anonymous" href='{{ "css/normalize.css" | relURL}}'>
    <!-- <link rel="stylesheet" href='https://dillonzq.com/css/style.min.css' title="LoveIt" >-->
    
    <link rel="stylesheet" href='{{ "css/classic.css" | relURL }}' crossorigin="anonymous" media="(prefers-color-scheme: light)" title="classic" disabled="disabled">  
    <link rel="stylesheet" href='{{ "css/modern.css" | relURL }}' crossorigin="anonymous"  media="(prefers-color-scheme: light)" title="modern"  disabled="disabled"> 
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <script type="text/javascript" src="//cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--  <script src="https://cdn.nesxc.com/js/leaves.js"></script> -->
    <!-- <script type="text/javascript" src="https://blog.starysky.top/js/sakura.js"></script> -->
    <!-- <script type="text/javascript" src="https://blog.starysky.top/js/snowfall.js"></script> -->
    <!-- <script type="text/javascript" src="https://blog.starysky.top/js/tagcanvas.js"></script> -->
    <!-- <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/hexo-butterfly-tag-plugins-plus@latest/lib/carousel-touch.min.js"></script> -->
    
    <script>
        var modeStorageKey = "sheet-scheme";
        var setLS = (k, v) => {
            localStorage.setItem(k, v);
        };
        var removeLS = (k) => {
            localStorage.removeItem(k);
        };
        var getLS = (k) => {
            return localStorage.getItem(k);
        };
        var getModeFromCSSMediaQuery = () => {
          return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
        };

        
        function switchTheme(){
            var current_theme = getLS(modeStorageKey);
            // console.log("current_theme", current_theme);
            // console.log("current_theme", modeStorageKey);
            if(current_theme){
                if("modern" ==  current_theme){
                current_theme = "classic"; 
                }else{
                current_theme = "modern";
                }
            setLS(modeStorageKey, current_theme);  
            doSwitchTheme(current_theme);     
            }
        }

        function doSwitchTheme(theme){
           // console.log(111); 
           var targetSheet = $('link[rel="stylesheet"][title="'+theme+'"]');
            if(targetSheet && targetSheet.length>0){
               // console.log(222); 
               // console.log(targetSheet.attr('href')); 
               $('link[rel="stylesheet"][title]').each(function(index){
                   var sheetTitle = $(this).attr('title');
                   // console.log('title'+index, sheetTitle);
                   if(sheetTitle != theme){
                      $(this).attr('disabled', 'disabled'); 
                   }
               });
               targetSheet.removeAttr('disabled');  
            } 
        }

        var local_theme = getLS(modeStorageKey);
        console.log('local_theme', local_theme);
        if(local_theme){
           doSwitchTheme(local_theme); 
        }else{
          setLS(modeStorageKey, 'modern');  
        }
    </script>    
<style>
#icon-sun {
  width: 1.5rem;
  height: 1.5rem;
}

#icon-moon {
  width: 1.5rem;
  height: 1.5rem;
}
</style>  
<script>
// https://stackoverflow.com/questions/56300132/how-to-override-css-prefers-color-scheme-setting
// Return the system level color scheme, but if something's in local storage, return that
// Unless the system scheme matches the the stored scheme, in which case... remove from local storage

var colorKey = 'color-scheme';
function getPreferredColorScheme(){
  let systemScheme = 'light';
  if(window.matchMedia('(prefers-color-scheme: dark)').matches){
    systemScheme = 'dark';
  }
  let chosenScheme = systemScheme;

  if(getLS(colorKey)){
    chosenScheme = getLS(colorKey);
  }

  if(systemScheme === chosenScheme){
    removeLS(colorKey);
  }

  return chosenScheme;
}

// Write chosen color scheme to local storage
// Unless the system scheme matches the the stored scheme, in which case... remove from local storage
function savePreferredColorScheme(scheme){
  let systemScheme = 'light';

  if(window.matchMedia('(prefers-color-scheme: dark)').matches){
    systemScheme = 'dark';
  }

  if(systemScheme === scheme){
    removeLS(colorKey);
  }
  else {
    setLS(colorKey, scheme);
  }
  //setLS(colorKey, scheme);
}

// Get the current scheme, and apply the opposite
function toggleColorScheme(){
  let newScheme = "light";
  let scheme = getPreferredColorScheme();
  if (scheme === "light"){
    newScheme = "dark";
  }
    
  savePreferredColorScheme(newScheme);
  applyPreferredColorScheme(newScheme);
}
    
 function isSheetAccessible(sheet) {
  if (sheet.href && !sheet.href.startsWith(location.origin)) return false;

  try {
    sheet.cssRules;

    // We have access
    return true;
  } catch(e) {
    // We don't have access
    return false;
  }
}

// Apply the chosen color scheme by traversing stylesheet rules, and applying a medium.
function applyPreferredColorScheme(scheme) {
    for (var s = 0; s < document.styleSheets.length; s++) {
        if(isSheetAccessible(document.styleSheets[s])){
        for (var i = 0; i < document.styleSheets[s].cssRules.length; i++) {
            rule = document.styleSheets[s].cssRules[i];


            if (rule && rule.media && rule.media.mediaText.includes("prefers-color-scheme")) {

                switch (scheme) {
                    case "light":
                        rule.media.appendMedium("original-prefers-color-scheme");
                        if (rule.media.mediaText.includes("light")) rule.media.deleteMedium("(prefers-color-scheme: light)");
                        if (rule.media.mediaText.includes("dark")) rule.media.deleteMedium("(prefers-color-scheme: dark)");
                        break;
                    case "dark":
                        rule.media.appendMedium("(prefers-color-scheme: light)");
                        rule.media.appendMedium("(prefers-color-scheme: dark)");
                        if (rule.media.mediaText.includes("original")) rule.media.deleteMedium("original-prefers-color-scheme");
                        break;
                    default:
                        rule.media.appendMedium("(prefers-color-scheme: dark)");
                        if (rule.media.mediaText.includes("light")) rule.media.deleteMedium("(prefers-color-scheme: light)");
                        if (rule.media.mediaText.includes("original")) rule.media.deleteMedium("original-prefers-color-scheme");
                        break;
                }
            }
        }
        
        }
    }

    // Change the toggle button to be the opposite of the current scheme
    if (scheme === "dark") {
        document.getElementById("icon-sun").style.display = 'inline';
        document.getElementById("icon-moon").style.display = 'none';
    } else {
        document.getElementById("icon-moon").style.display = 'inline';
        document.getElementById("icon-sun").style.display = 'none';
    }
}

document.addEventListener('DOMContentLoaded', () => {
    applyPreferredColorScheme(getPreferredColorScheme());  
});
</script>    
    
    {{ if .Site.Params.baiduAnalytics }}
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?{{ .Site.Params.baiduAnalytics }}";
      hm.async = true;  
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>    
    {{ end }}  
    
    <script type="text/javascript" charset="utf-8"
        src='{{"js/mouse.min.js" | relURL}}'></script>
    <script type="text/javascript" charset="utf-8"
        src='{{"js/L2Dwidget.0.min.js" | relURL}}'></script>
    <script type="text/javascript" charset="utf-8"
        src='{{"js/L2Dwidget.min.js" | relURL}}'></script>   

    <script type="text/javascript" src='{{ "js/writingDates.js?v=0.0.0" | relURL }}' charset="utf-8"></script>
    <script type="text/javascript" src='{{ "js/myCalendar.js?v=0.0.0" | relURL }}' charset="utf-8"></script>
    
    {{ if .Site.Params.googleAd }}
    <script data-ad-client="{{ .Site.Params.googleAd }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{ end }}
    
    {{if .Site.Params.fancybox }}
        <link href="https://cdn.bootcdn.net/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    {{ end }}
    
    <!-- custom css -->
    {{ range .Site.Params.customCSS }}
        <link rel="stylesheet" href='{{ "/css/" | relURL }}{{ . }}'>
    {{ end }}
    
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

</head>
