<div id="secondary">
    <section class="widget">
        {{ partial "search_form" . }}
    </section>

    <section class="widget">
        {{ partial "recent_post" . }}
    </section>

    {{ partial "ads" . }}

    <section class="widget">
        {{ partial "categories" . }}
    </section>

    <section class="widget">
        {{ partial "tags" . }}
    </section>

    {{ partial "links" . }}
    
    <section class="widget">
        <h3 class="widget-title">{{ i18n "meta" }}</h3>
        <ul class="widget-list">
            <li><a href="{{ "index.xml" | absURL }}">{{ i18n "Feed_rss" }}</a></li>
        </ul>
    </section>
    
</div>

    <script type="text/javascript" charset="utf-8" 
        src="https://gcore.jsdelivr.net/gh/zhangxingong/blog@main/themes/maupassant/static/js/L2Dwidget.0.min.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="https://gcore.jsdelivr.net/gh/zhangxingong/blog@main/themes/maupassant/static/js/L2Dwidget.min.js"></script>
