<div id="secondary">
    <section class="widget">
        {{ partial "search_form" . }}
    </section>

    <section class="widget">
        {{ partial "recent_post" . }}
    </section>

    {{ partial "ads" . }}

    <section class="widget">
        {{ partial "categories" . }}
    </section>

    <section class="widget">
        {{ partial "tags" . }}
    </section>

    {{ partial "links" . }}
    
    <section class="widget">
        <h3 class="widget-title">{{ i18n "meta" }}</h3>
        <ul class="widget-list">
            <li><a href="{{ "index.xml" | absURL }}">{{ i18n "Feed_rss" }}</a></li>
        </ul>
    </section>
</div>


<script type="text/javascript" charset="utf-8"  src="https://files.cnblogs.com/files/liuzhou1/L2Dwidget.0.min.js"></script>
<script type="text/javascript" charset="utf-8"  src="https://files.cnblogs.com/files/liuzhou1/L2Dwidget.min.js"></script>

<script type="text/javascript">
    //这是插件模型，可以任意选择想要添加的2d动画　
　　"model": {
      jsonPath: "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
      "scale": 1
      },
    L2Dwidget.init({
      "display": {
        "superSample": 2,
        "width": 200,//宽度
        "height": 400,//高度
        "position": "right",//位置，right,left
        "hOffset": 0,
        "vOffset": 0
      }
   });
</script>
