{{ define "content"}}
<div class="post-archive">
    {{ range (where (where .Site.Pages "Type" "in" (slice "post" "posts")) "Kind" "page").GroupByDate "01 2006" }}
    <h2>{{ .Key.Format "1月 2006年" }}</h2>
    <ul class="listing">
        {{ range .Pages }}
        <li>
            <span class="date">{{ .Date.Format "2006/01/02" }}</span>
            <a href="{{ .Permalink }}" title="{{ .Title }}" target="_blank">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

</div>
{{ end }}
