{{ define "content"}}
<div class="post-archive">
    {{ range (where (where .Site.Pages "Type" "in" (slice "post" "posts")) "Kind" "page").GroupByDate "January 2006" }}
    <h2>{{ .Key }}</h2>
    <ul class="listing">
        {{ range .Pages }}
        <li>
            <span class="date">{{ .Date.Format "06 Jan 02 Mon 15:04" }}</span>
            <a href="{{ .Permalink }}" title="{{ .Title }}" target="_blank">{{ .Title }}({{ .Pages.Size }})</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

</div>
{{ end }}
