{{ define "content"}}
{{- $paginator := .Paginate ((where (where .Site.RegularPages "Type" "in" (slice "idea" "ideas")) "Kind" "page").GroupByDate "January 2006") }}
<div class="res-cons">
    {{ range $index,$data := $paginator.Pages }}
    {{ if not .Params.hidden }}
    <article class="post">
        <date class="post-meta meta-date">2222</date>
        <div class="post-content">
            {{ .Content }}
        </div>
    </article>
    {{ end }}
    {{ end }}
    {{ partial "paginator" . }}
</div>
{{ end }}
