{{ define "content"}}
<div class="res-cons">
  {{- $datetime_format := i18n "Datetime_format" -}}
  {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" (slice "idea" "ideas")).ByDate.Reverse 10 }}
    {{ range $index,$data := $paginator.Pages }}
    {{if not .Params.hiddenFromHomePage }}
    <article class="post">
        <date class="post-meta meta-date"> 
          {{ .Date.Format $datetime_format }}
       </date>
        <div class="post-content">
            {{ .Content }}
        </div>
    </article>
    {{ end }}
    {{ end }}
    {{ partial "paginator" . }}
</div>
{{ end }}
