{{ define "content"}}
<div class="res-cons">
  {{- $paginator := .Paginate (where .Site.GetPage  "/ideas") }}
   {{ with $paginator }}
    {{ range $index,$data := $paginator.Pages }}
    {{if not .Params.hiddenFromHomePage }}
    <article class="post">
        <date class="post-meta meta-date">{{ time.Format "2022年5月7日 21时41分54秒" }}</date>
        <div class="post-content">
            {{ .Content }}
        </div>
    </article>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ partial "paginator" . }}
</div>
{{ end }}
