<style>
blockquote {
    margin: 25px auto;
    quotes: "“" "”" "‘" "’";
    padding: 1.5rem;
    color: #555555;
    padding: 1rem 1.5rem;
    border-left: 0.2rem solid #0077b8;
    position: relative;
    background: var(--haze);
}

blockquote .author {
    display: block;
    margin-top: 0.5rem;
    text-align: right;
    font-weight: bold;
    font-style: normal;
    color: #333333;
}
</style>

<blockquote  style="
    border-left-color: {{ .Get "border" | default "#0077b8" }};
    color: {{ .Get "color" | default "#555555" }};
    background: {{ .Get "bg" | default "var(--haze)" }};
">
  {{ .Inner | markdownify }}
  {{- if .Get "author" -}}
    <span class="author">— {{ .Get "author" }}</span>
  {{- end -}}
</blockquote>
